<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="4.11.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.11.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialDesign" version="4.11.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialLight" version="4.11.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Modern" version="4.11.0" targetFramework="net48" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net48" />
</packages>